*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(43, 86, 226);
}
.navbar{
    padding: 17px;
    display: flex;
    height: 20%;
    --background-color: orange;
    justify-content: space-between;
    align-items: center;
}
.logoxbox{
    height: 60px;
    filter: invert(100%);
}
.menu{
    width: 30vw ;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}
button{
    background-color: transparent;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

main{
    height: 80%;
    background-color: green;
}